{% extends 'base.html' %}
{% load humanize %}
{% block content %}

{% for post in posts %}
<article>
    <div class="container-article">
        <img src="{{ post.usuario.perfil.imagen.url }}">
        <div>
            <h2 class="username"><a href="{% url 'perfil' post.usuario.username %}">@{{ post.usuario.username }}</a></h2>
            <i class="Hora"></i>
            <time data-time="#">{{ post.timestamp|naturaltime}}</time>
            <div class="post">{{ post.contenido }}</div>
        </div>
    </div>
</article>
{% endfor %}
{% endblock %}