{% extends 'paginaInicio.html' %}
{% block content %}

<div class="profile">
	<img src="{{ usuario.perfil.imagen.url }}">
	<h2>@{{usuario.username}}</h2>
	{% if request.user.is_authenticated %}
		{% if usuario.username != request.user.username %}
			{% if usuario not in request.user.perfil.following %}
			<button><a class="follow-button" href="{% url 'follow' usuario %}">Seguir</a></button>
			{% else %}
			<button><a class="follow-button" href="{% url 'unfollow' usuario %}">Dejar de seguir</a></button>
			{% endif %}
		{% endif %}
	{% endif %}
</div>

<div class="follow">
	{% if usuario != request.user %}
	<div>
		<h5>Post</h5>
		<p>{{ usuario.posts.count}}</p>
	</div>
	<div>
		<h5>Seguidores</h5>
		<p>{{ usuario.perfil.followers.count }}</p>

	</div>
	<div>
		<h5>Siguiendo</h5>
		<p>{{ usuario.perfil.following.count }}</p>
	</div>
	{% else %}

		<div>
		<h5>Post</h5>
		<p>{{ usuario.posts.count}}</p>
	</div>
	<div>
		<h5><a href="{% url 'seguidores' %}">Seguidores</a></h5>
		<p>{{ usuario.perfil.followers.count }}</p>

	</div>
	<div>
		<h5><a href="{% url 'seguidos' %}">Siguiendo</a></h5>
		<p>{{ usuario.perfil.following.count }}</p>
	</div>
	{% endif %}


</div>

{{block.super}}
{% endblock %}